.company-cards {
  @include flexed(center, null);
  flex-wrap: wrap;
  gap: 30px;
}

.company-cards__item {
  height: 92px;

  @include mq(mob-only) {
    @include flex-besed(2);
  }

  @include mq(tab) {
    @include flex-besed(3);
  }

  @include mq(desk) {
    @include flex-besed(6);
  }
}

.company-cards__link {
  @include flexed;

  width: 100%;
  height: 100%;
  border: 1px solid var(--fill-icons);
  border-radius: 4px;

  transition: color var(--time-duration) var(--timing-function),
    border-color var(--time-duration) var(--timing-function);

  color: var(--fill-icons);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.company-cards__icon {
  fill: currentColor;
}
