.features {
@include mq(no-desk) {
    display: none;
}

  @include section (null);

  background-color: var(--color-text-background);
}

.features__title {
  @extend %title;
  margin-bottom: 50px;
}


