.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-duration) var(--timing-function);

  background-color: var(--color-text-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);


  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.modal__title {
  margin-bottom: 12px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__btn-close {
  position: absolute;
 
 @include flexed; 

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-border);
  border-radius: 50%;

  transition: fill var(--time-duration) var(--timing-function);

  fill: var(--title-text-color);
  background-color: var(--color-text-background);
  cursor: pointer;

  
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
