.social-footer__cta {
  margin-bottom: 20px;

  color: var(--color-text-background);
}

.social-footer__link {
  transition: background-color var(--time-duration) var(--timing-function);

  color: var(--color-text-background);
  background-color: var(--footer-bg-icons);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
