.team {
  @include section(60px, 60px);
  background-color: var(--color-background-third);

  @include mq(desk) {
    @include section;
  }
}

.team__title {
  margin-bottom: 30px;

  @include mq(desk) {
    margin-bottom: 50px;
  }
}
