.footer {
  @include section (60px, 60px);

  background-color: var(--color-background-primary);
}

.footer__container {
@include mq(tab) {
  @include flexed(baseline);
  flex-wrap: wrap;
}

@include mq(desk) {
    @include flexed(baseline, null);
}
}

.footer__wrapper {
@include mq(no-desk) {
  margin-bottom: 60px;
  
}

@include mq(tab-only) {
  margin-right: 165px;
}
}

.footer__social {
  @include mq(mob-only) {
    margin-bottom: 60px;
  }
  
 @include mq(desk) {
  margin-left: auto;
 }
}

.footer__form {
  @include mq(desk) {
    margin-left: 93px;
  }
}
