$hero-gradient: linear-gradient(var(--color-gradient), var(--color-gradient));

.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;

  text-align: center;
  background-color: var(--color-background-primary);

  background-image: $hero-gradient, url(../images/hero/hero-background-image-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: $hero-gradient, url(../images/hero/hero-background-image-mob@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    max-width: 768px;
    @media (min-width: 481px) {
      background-image: $hero-gradient, url(../images/hero/hero-background-image-tab@1x.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/hero/hero-background-image-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;

    @media (min-width: 769px) {
      background-image: $hero-gradient, url(../images/hero/hero-background-image@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/hero/hero-background-image@2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  color: var(--color-text-background);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include mq(desk) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
    @extend %btn;
    margin: 0 auto;
    padding: 10px 32px;
}
